@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  color: $main-dk;
  font-family: "Avenir Reg", sans-serif;
  background-color: $main-lt;
}

html {
  width: 100%;
}

body {
  margin: 0;
}

.site-container {
  margin: 0 1rem;
}
