@font-face {
    font-family: "Avenir Next LT Pro";
    src: url("../../../assets/fonts/Avenir-otf/AvenirNextLTPro-Regular.otf"),
        url("../../../assets/fonts/Avenir-ttf/AvenirNextLTPro-Regular.ttf"),
        url("../../../assets/fonts/Avenir-woff/AvenirNextLTPro-Regular.woff"),
        url("../../../assets/fonts/Avenir-woff2/AvenirNextLTPro-Regular.woff2");
        font-weight: 400;

}

@font-face {
    font-family: "Avenir Next LT Pro";
    src: url("../../../assets/fonts/Avenir-otf/AvenirNextLTPro-Demi.otf"),
        url("../../../assets/fonts/Avenir-ttf/AvenirNextLTPro-Demi.ttf"),
        url("../../../assets/fonts/Avenir-woff/AvenirNextLTPro-Demi.woff"),
        url("../../../assets/fonts/Avenir-woff2/AvenirNextLTPro-Demi.woff2");
        font-weight: 600;

}

@font-face {
    font-family: "Avenir Next LT Pro";
    src: url("../../../assets/fonts/Avenir-otf/AvenirNextLTPro-Bold.otf"),
        url("../../../assets/fonts/Avenir-ttf/AvenirNextLTPro-Bold.ttf"),
        url("../../../assets/fonts/Avenir-woff/AvenirNextLTPro-Bold.woff"),
        url("../../../assets/fonts/Avenir-woff2/AvenirNextLTPro-Bold.woff2");
        font-weight: 700;

}
