@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_typography.scss" as *;

.about {
  margin: 1.5rem;

  @include tablet {
    margin-left:100px;
    margin-right: 100px;
  }

  @include desktop {
    margin-left: 200px;
    margin-right: 200px;
  }

  &__title {
    font-size: $fs-mob-lg;
    font-size: 7.5vw;
    font-family: "Avenir Demi";
    margin-bottom: 1rem;
    padding: 0;


    @include tablet {
      font-size: 36px;
      line-height: 44px;
      margin-left: -50px;
      margin-bottom: 36px;
      margin-top: 48px;
      font-family: "Avenir Demi";
    }

    @include desktop {
        margin-left: -70px;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;

    @include tablet {
        object-fit: cover;
        height: 40vw;
        margin-bottom: 36px;
    }    
}

  &__subheader {
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir RDemi", sans-serif;
    margin-bottom: 16px;
    margin-top: 36px;

    @include tablet {
        font-size: 28px;
        line-height: 32px;
        font-family: "Avenir Demi", sans-serif;
        margin-bottom: 24px;
        margin-top: 54px;

    }
  }

  &__blockquote {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    font-family: "Avenir Demi", sans-serif;
    line-height: 24px;
    font-size: 13px;

    @include tablet {
        font-size: 24px;
        line-height: 36px;
        font-family: "Avenir Demi", sans-serif;
    
    }
}

  &__cite {
    font-family: "Avenir Demi", sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    @include tablet {
        font-size: 18px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
        flex-direction: row;

    } 
}

  &__text {
    font-family: "Avenir Reg", sans-serif;
    line-height: 18px;
    font-size: 13px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 26px;
    &:last-child {
        @include tablet {
            margin-left:36px;
        }
    }
    @include desktop {
        
    }
  }}
