@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_typography.scss" as *;

.about {
  margin: 1rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-left: 100px;
    margin-right: 100px;
  }

  @include desktop {
    margin-left: 216px;
    margin-right: 216px;
  }

  &__container {
    max-width: 80rem;
    

  }

  &__title {
  
    font-size: $fs-mob-lg;
    line-height: 2rem;
    font-family: "Avenir Demi";
    margin: 1.5rem 0 1rem 0;

    @include tablet {
      font-size: 36px;
      line-height: 44px;
      margin: 48px 0 36px -64px;
    }

    @include desktop {
      margin-left: -76px;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    height: 160px;

    @include tablet {
      margin-bottom: 36px;
      height: 310px;
    }

    @include desktop {
        height: 440px;
    }
  }

  &__subheader {
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir Demi", sans-serif; 
    margin-bottom: 16px;
    margin-top: 24px;

    @include tablet {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 16px;
      margin-top: 48px;
      font-family: "Avenir Demi", sans-serif;
    }

    @include desktop {

    }
  }

  &__blockquote {
    margin: 0;
    padding: 0;
    font-family: "Avenir Demi", sans-serif;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0.5rem;

    @include tablet {
      font-size: 22px;
      line-height: 30px;
    }

    @include desktop {
        margin-bottom: 1rem;
    }
  }

  &__cite {
    font-family: "Avenir Demi", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;

    @include tablet {
      font-size: 16px;
      line-height: 22px;
 
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-bottom: 36px;


    @include tablet {
      flex-direction: row;
    }
  }

  &__text {
    font-family: "Avenir Reg", sans-serif;
    line-height: 18px;
    font-size: 13px;
    letter-spacing: 0.8;
    margin: 0;

    @include tablet {
        font-size: 14px;
        line-height: 22px;
    }

    @include desktop {
        font-size: 14px;
        line-height: 22px;
    }


    &:last-child {
        margin-top: 16px;
        margin-bottom: 16px;

      @include tablet {
        margin-left: 36px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
