@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_typography.scss" as *;

.footer {
  color: $main-lt;
  background-color: $main-dk;
  padding-left: 1rem;

  @include tablet {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  * {
    margin: 0;
    padding: 0;
  }

  &__container {
    max-width: 80rem;
    display: flex;
    flex-direction: column;

    @include tablet {

    }
  }
}

.socials {
    &__container {


    @include tablet {
        order: 0;
        display: inline-flex;
        width: 50%;
        

    }
}

  &__title {
    font-size: $fs-mob-lg;
    line-height: 2rem;
    font-family: "Avenir Demi";
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 1.5rem;

    @include tablet {
      font-size: $fs-xl;
      line-height: $lh-xl;
      margin: 3rem 0 2.25rem 0;
    }

    @include desktop {
      margin-left: -4.75rem;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-bottom: 1.5rem;
    
    @include tablet {
        width: 30%;
        margin-bottom: 0;
        margin-top: 2.7rem;
        margin-left: 2.25rem;    

    }
}

&__icon {

    @include tablet {
        width: 110%;
        
        
    }
}
}

.contact {
    
    @include tablet {
        order: 3;
    }
&__container {
    display: flex;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}
  &__text--top {
    margin-top: 1rem;
  }

  &__name,
  &__company,
  &__text,
  &__email {
    font-size: $fs-mob-sm;
    line-height: $lh-xs;
    font-family: "Avenir Reg", sans-serif;

    @include tablet {
        font-size: $fs-med;
        line-height: $lh-sm;
    }
  }

  &__name,
  &__company {

    @include tablet {
        font-family: "Avenir Demi", sans-serif;
    }
  }

  &__email-link {
    text-decoration: none;
    color: $main-lt;
  }
}

.footer__branding {
    margin-top: 2rem;
    

    @include tablet {
        order: 2;
        margin-left: auto;
        
        
    }

  &-logo {
    height: 1.25rem;
    width: 7.5rem;
  }
}


.copyright {

    @include tablet {
        order: 5;
    }
    &__text {
        margin: 1rem 0;
        padding-bottom: 1rem;
        font-size: $fs-mob-xs;
        letter-spacing: 0.025rem;
        line-height: $lh-xs;
        font-family: "Avenir Reg";
    }
}
