@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_typography.scss" as *;

.footer {
  color: $main-lt;
  background-color: $main-dk;
  padding-left: 1rem;

  @include tablet {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    height: 400px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  &__container {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: row;
    }
  }
}

.socials {
  @include tablet {
    width: 80%;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      order: 1;
      flex-direction: row;
      width: 65%;
    }
  }

  &__title {
    font-size: $fs-mob-lg;
    line-height: 2rem;
    font-family: "Avenir Demi";
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 1.5rem;

    @include tablet {
      font-size: $fs-xl;
      line-height: $lh-xl;
      margin: 3rem 0 1.75rem 0;
      justify-content: space-around;
      padding: 0;
    }

    @include desktop {
    }
  }

  &__group {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    width: 120px;
    justify-content: space-between;

    @include tablet {
      margin-bottom: 0;
      margin-top: 3.8rem;
      margin-left: 2.25rem;
      padding: 0;
      width: 100px;
    }
  }

  &__icon {
    @include tablet {
      width: 110%;
    }
  }
}

.contact {
  @include tablet {
    order: 3;
    flex-basis: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  &__text--top {
    margin-top: 1rem;

    @include tablet {
      margin-top: 1.4rem;
    }
  }

  &__name,
  &__company,
  &__text,
  &__email {
    font-size: $fs-mob-sm;
    line-height: $lh-xs;
    font-family: "Avenir Reg", sans-serif;

    @include tablet {
      font-size: $fs-med;
      line-height: $lh-sm;
    }
  }

  &__name,
  &__company {
    @include tablet {
      font-family: "Avenir Demi", sans-serif;
    }
  }

  &__email-link {
    text-decoration: none;
    color: $main-lt;
  }
}

.footer__branding {
  margin-top: 2rem;
  display: flex;

  @include tablet {
    order: 2;
    margin: auto;
  }

  &-logo {
    height: 1.25rem;
    width: 7.5rem;
  }
}

.copyright {
  @include tablet {
    order: 4;
  }

  &__text {
    margin: 1rem 0;
    padding-bottom: 1rem;
    font-size: $fs-mob-xs;
    letter-spacing: 0.025rem;
    line-height: $lh-xs;
    font-family: "Avenir Reg";
    @include tablet {
      font-size: $fs-med;
      line-height: $lh-sm;
      margin-top: 3rem;
    }
  }
}
