@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_typography.scss" as *;

.gallery {
  &__container {
    max-width: 80rem;
    background-color: $sec-lt;
  }

  &__title {
    font-size: $fs-mob-lg;
    line-height: 2rem;
    font-family: "Avenir Demi";
    margin: 0 0 1rem 1rem;
    padding-top: 1.5rem;

    @include tablet {
      font-size: $fs-xl;
      line-height: $lh-xl;
      margin: 3rem 0 2.25rem -4rem;
    }

    @include desktop {
      margin-left: -4.75rem;
    }
  }
  &__image-group {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__image {
    margin-bottom: 1rem;
  }
}
