@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_typography.scss" as *;

.gallery {
  &__container {
    max-width: 80rem;
    background-color: $sec-lt;
  }

  &__title {
    font-size: $fs-mob-lg;
    line-height: $lh-lg;
    font-family: "Avenir Demi";
    margin: 0 0 1rem 1rem;
    padding-top: 1.5rem;

    @include tablet {
      font-size: $fs-xl;
      line-height: $lh-xl;
      margin-left: 2.25rem;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
    }

    @include desktop {
    }
  }
  &__image-group {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    @include tablet {
      margin: 0 auto 0 2.25rem;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__image {
    margin-bottom: 1rem;
    filter: grayscale(100%);

    @include tablet {
      width: 30%;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
    }

    &:hover {
      filter: grayscale(0);
      transition: 0.7s ease-out;
    }
  }
}
