@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_typography.scss" as *;

.header {
  background-color: $main-dk;
  width: 100%;
  z-index: 1;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4.5rem;
    padding-top: 1rem;
    max-width: 80rem;

    @include tablet {
      height: 4.5rem;
      width: 50%;
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
    }

    @include desktop {
      height: 5rem;

    }
  }

  &__branding {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      margin-left: 2.25rem;
    }

    @include desktop {
      margin-left: 7.75rem;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      &--active {
        color: $main-lt;
      }}

    &-logo {
      height: 1.25rem;
      width: 7.5rem;
    }
  }
}
