@use "../base/variables" as *;

// .header {
//     display: flex;
//     flex-direction: column;
//     background-color: $main-dk;
//     &__branding {
//         display: flex;
//         justify-content: center;
//         height: 50px;
//         &__branding-logo {
//             height: 30px;
//             margin-top: 1.2rem;
//         }
//       }
//     }

    .header {
        background-color: #323232;
        display: flex;
        flex-direction: column;
    }
    
    .header__branding {
        display: flex;
        justify-content: center;
        height: 50px;
    }
    
    .header__logo-link {
    
    }
    .header__branding-logo {
        height: 30px;
        margin-top: 1.2rem;
    }
    