@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_typography.scss" as *;
@use "../base/globals" as *;

.hero-shows {
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax $main-dk-opacity;
  margin: 0;
  padding: 0;
  color: $main-lt;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2.25rem 1rem;

  @include tablet {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 7.75rem 7.75rem 9rem 7.75rem;
  }

  &__container {
    max-width: 80rem;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 21.875rem;
    }
  }
}

.copy {
  &__container {
    display: flex;
    flex-direction: column;
    width: 80%;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 48%;
    }
  }

  &__byline {
    font-size: $fs-mob-sm;
    line-height: $lh-lg;
    margin: 0;
    padding: 0;

    @include tablet {
      font-size: $fs-lg;
      line-height: $lh-med;
      font-family: "Avenir Reg";
      padding-bottom: 1rem;
      padding-top: 0.5rem;
    }

    @include desktop {
      padding-bottom: 1.5rem;
      font-size: $fs-lg;
      font-family: "Avenir Demi";
      letter-spacing: 1.1px;
    }
  }

  &__title {
    font-size: $fs-mob-lg;
    line-height: $lh-lg;
    font-family: "Avenir Demi";
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;

    @include tablet {
      font-size: $fs-xxl;
      line-height: $lh-xxl;
      margin-bottom: 3rem;
    }

    @include desktop {
    }
  }
}

.iframe {
  height: 6rem;

  @include mid-gallery {
    height: 7rem;
  }

  @include tablet {
    height: 8.7rem;
  }

  &__container {
    width: 100%;

    @include tablet {
      width: 60%;
      margin-bottom: 1.5rem;
    }

    @include desktop {
      margin-top: 4rem;
      width: 41%;
    }
  }
}
