@use "../base/_variables.scss" as *;
@use "../base/_mixins.scss" as *;
@use "../base/_typography.scss" as *;

.nav {
  width: 100%;
  margin: 0;
  padding: 0;

  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    padding: 0;

    @include tablet {
      margin-left: 0;
      width: 15.625rem;
    }

    @include desktop {
      width: 12.5rem;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $sec-med;
    font-weight: 300;
    font-size: $fs-med;

    @include tablet {
      border-bottom: 3px solid transparent;
    }

    &:hover {
      @include tablet {
        border-bottom: 3px solid $main-lt;
        padding-bottom: 1.7rem;
        color: $main-lt;
      }

      @include desktop {
        padding-bottom: 2rem;
      }

      &:after {
        content: "";
        width: 100%;
        border-bottom: 3px solid $main-lt;
        position: absolute;
        top: 4.3rem;
        right: 0;

        @include tablet {
          width: 0;
        }
      }

      &--shows:after {
        left: 0;
      }
    }

    &--active {
      font-weight: 600;
      text-decoration: none;
      color: $main-lt;

      @include tablet {
        border-bottom: 3px solid $main-lt;
        padding-bottom: 1.7rem;
      }

      @include desktop {
        padding-bottom: 2rem;
      }
    }

    &--active:after {
      width:100%;
      content: "";
      border-bottom: 3px solid $main-lt;
      position: absolute;
      top: 4.3rem;
      right: 50%;

      @include tablet {
        width: 0;
      }
    }

    &--shows:after {
      width:50%;
      content: "";
      border-bottom: 3px solid $main-lt;
      position: absolute;
      top: 4.3rem;
      left: 50%;

      @include tablet {
        width: 0%;
      }
    }
  }
}
