@use "../base/typography" as *;
@use "../base/globals" as *;
@use "../base/mixins" as *;
@use "../base/_variables.scss" as *;

.shows {
  * {
    border: 1px solid black;
  }
  padding: 1rem;

  @include tablet {
    padding: 2.25rem;
  }

  @include desktop {
    padding: 3rem 7.75rem 2rem 7.75rem;
  }

  &__title {
    font-size: $fs-mob-lg;
    line-height: $lh-lg;
    font-family: "Avenir Demi";
    padding-top: 1.5rem;
    margin-top: 0;

    @include tablet {
      font-size: $fs-xl;
      line-height: $lh-xl;
      padding-top: 1rem;
    }

    @include desktop {
    }
  }
}

.table {
  margin-top: 1.875rem;
  width: 70%;

  @include tablet {
    margin-bottom: 0.625rem;
    flex-direction: row;
  }

  @include desktop {
    margin-left: 7.75rem;
  }

  &__head {
    visibility: collapse;
    @include tablet {
      visibility: visible;
    }
  }

  &__row {
    width: 100%;
    border-bottom: 1px solid $sec-med;
    // display: flex;
    // flex-direction: column;

    @include tablet {
    }
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    &:hover {
      background-color: $sec-lt;
    }
  }

  &__body {
  }

  &__heading {
    color: $main-med;
    font-family: "Avenir Demi";
    font-size: $fs-mob-xs;
    line-height: 0.5rem;

    @include tablet {
      display: none;
    }
  }

  &__date,
  &__venue,
  &__location {
    color: $main-dk;
    font-size: $fs-mob-sm;
    font-family: "Avenir Demi";
    margin-bottom: 1rem;

    @include tablet {
      font-size: $fs-med;
    }
  }

  &__date {
    @include tablet {
    }

    @include desktop {
    }
  }

  &__venue,
  &__location {
    font-family: "Avenir Reg";

    @include tablet {
    }
  }

  &__button {
    height: 2.6rem;
    background-color: $main-dk;
    color: $main-lt;
    font-family: "Avenir Demi";
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    width: 100%;
    border: none;

    @include tablet {
      font-size: 0.85rem;
      padding-left: 32px;
      padding-right: 32px;
      width: 160px;
    }

    @include desktop {
      font-size: 0.9rem;
    }

    &:hover {
      background-color: $sec-dk;
      cursor: pointer;
      transition: 0.7s;
    }
  }
}

.tablet {
  &__date,
  &__venue,
  &__location {
    text-align: left;
    @include tablet {
      font-size: $fs-mob-sm;
    }

    @include desktop {
    }
  }

  &__date {
    @include tablet {
    }

    @include desktop {
    }
  }
}
