@use "../base/typography" as *;
@use "../base/mixins" as *;
@use "../base/_variables.scss" as *;

.shows {
  padding: 1rem;

  @include tablet {
    padding: 2.25rem;
  }

  @include desktop {
    padding: 3rem 7.75rem 2rem 7.75rem;
    display: flex;
    justify-content: space-between;
  }

  &__container {
    @include desktop {
      display: flex;
      justify-content: flex-end;
      width: 75%;
    }
  }
  &__table {
    margin-top: 1.875rem;
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    @include desktop {
    }
  }

  &__title {
    font-size: $fs-mob-lg;
    line-height: $lh-lg;
    font-weight: 600;
    padding-top: 1.5rem;
    margin-top: 0;

    @include tablet {
      font-size: $fs-xl;
      line-height: $lh-xl;
      padding-top: 1rem;
    }

    @include desktop {
    }
  }
}

.show {

  &__card {
    border-bottom: 1px solid $sec-med;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      }

      &--active {
        background-color: $sec-med;
      }

    &:hover {
      background-color: $sec-lt;
      transition: 0.7s;
    }
  }

  &__heading {
    color: $main-med;
    font-weight: 600;
    font-size: $fs-mob-xs;
    line-height: 0.5rem;

    @include tablet {
      display: none;
    }
  }

  &__date,
  &__venue,
  &__location {
    color: $main-dk;
    font-size: $fs-mob-sm;
    margin-bottom: 1rem;

    @include tablet {
      width: 33.3333%;
      font-size: $fs-med;
    }
  }

  &__date {
    font-weight: 600;
    @include tablet {
      width: 30%;
    }

    @include desktop {
      width: 30%;
    }
  }
  &__venue,
  &__location {
    font-weight: 300;

    @include tablet {
      width: 20%;
    }
  }

  &__button {
    height: 2.6rem;
    background-color: $main-dk;
    color: $main-lt;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
    border: none;
    font-weight: 300;

    @include tablet {
      width: fit-content;
      font-size: 0.875rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include desktop {
      font-size: 0.9rem;
    }

    &:hover {
      background-color: $sec-dk;
      cursor: pointer;
      transition: 0.7s;
    }
  }
}

.tablet {
  &__header {
    display: none;

    @include tablet {
      display: flex;
      color: $main-med;
      font-weight: 600;
      width: 80%;
    }
  }

  &__date,
  &__venue,
  &__location {
    @include tablet {
      width: 40%;
      font-size: 0.75rem;
      font-weight: 300;
    }

    @include desktop {
    }
  }

  &__date {
    @include tablet {
      width: 55%;
    }

    @include desktop {
      width: 56%;
    }
  }
}
