*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  color: #323232;
  font-family: "Avenir Reg", sans-serif;
  background-color: #fff;
}

html {
  width: 100%;
}

body {
  margin: 0 auto;
}

@font-face {
  font-family: "Avenir Reg";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Regular.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Demi.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Bold.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
.header {
  background-color: #323232;
  width: 100%;
  z-index: 1;
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4.5rem;
  padding-top: 1rem;
  max-width: 80rem;
}
@media screen and (min-width: 48rem) {
  .header__container {
    height: 4.5rem;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }
}
@media screen and (min-width: 80rem) {
  .header__container {
    height: 5rem;
  }
}
.header__branding {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .header__branding {
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__branding {
    margin-left: 7.75rem;
  }
}
.header__branding-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__branding-logo {
  height: 1.25rem;
  width: 7.5rem;
}

.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  margin-left: -3.75rem;
  margin-top: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    margin-left: 0;
    width: 15.625rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__list {
    width: 12.5rem;
  }
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
  font-family: "Avenir Reg";
  font-size: 0.875rem;
}
@media screen and (min-width: 48rem) {
  .nav__link {
    border-bottom: 3px solid transparent;
  }
}
@media screen and (min-width: 48rem) {
  .nav__link:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 1.7rem;
    color: #fff;
  }
}
@media screen and (min-width: 80rem) {
  .nav__link:hover {
    padding-bottom: 2rem;
  }
}
.nav__link:hover:after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 4.5rem;
  right: 0;
}
@media screen and (min-width: 48rem) {
  .nav__link:hover:after {
    width: 0;
  }
}
.nav__link--active {
  font-family: "Avenir Demi";
  text-decoration: none;
}
@media screen and (min-width: 48rem) {
  .nav__link--active {
    border-bottom: 3px solid #fff;
    padding-bottom: 1.7rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__link--active {
    padding-bottom: 2rem;
  }
}
.nav__link--active:after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 4.5rem;
  right: 50%;
}
@media screen and (min-width: 48rem) {
  .nav__link--active:after {
    width: 0;
  }
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(50, 50, 50, 0.5019607843);
  height: 11.6rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 28.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 39rem;
  }
}
.hero__container {
  max-width: 80rem;
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  color: #fff;
  margin: 0;
  margin-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    margin-left: 7.75rem;
  }
}

.about {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .about {
    margin: 0 6.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .about {
    margin: 0 13.5rem;
  }
}
.about__container {
  max-width: 80rem;
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  margin: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 48rem) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 2.25rem -4rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__title {
    margin-left: -4.75rem;
  }
}
.about__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  height: 10rem;
}
@media screen and (min-width: 48rem) {
  .about__image {
    margin-bottom: 2.25rem;
    height: 19.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__image {
    height: 27.5rem;
  }
}
.about__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Demi", sans-serif;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .about__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-family: "Avenir Demi", sans-serif;
  }
}
.about__blockquote {
  margin: 0;
  padding: 0;
  font-family: "Avenir Demi", sans-serif;
  line-height: 1.5rem;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .about__blockquote {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__blockquote {
    margin-bottom: 1rem;
  }
}
.about__cite {
  font-family: "Avenir Demi", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__cite {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.about__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .about__text-container {
    flex-direction: row;
  }
}
.about__text {
  font-family: "Avenir Reg", sans-serif;
  line-height: 1.125rem;
  font-size: 0.8125rem;
  letter-spacing: 0.8;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .about__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.about__text:last-child {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__text:last-child {
    margin-left: 2.25rem;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }
}

.gallery__container {
  max-width: 80rem;
  background-color: #fafafa;
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  margin: 0 0 1rem 1rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-left: 2.25rem;
    padding-bottom: 2.25rem;
    padding-top: 3rem;
  }
}
.gallery__image-group {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__image-group {
    margin: 0 auto 0 2.25rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__image {
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__image {
    width: 30%;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
  }
}

.footer {
  color: #fff;
  background-color: #323232;
  padding-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    height: 400px;
  }
}
.footer * {
  margin: 0;
  padding: 0;
}
.footer__container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .footer__container {
    flex-direction: row;
  }
}

@media screen and (min-width: 48rem) {
  .socials {
    width: 80%;
  }
}
.socials__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .socials__container {
    order: 1;
    flex-direction: row;
    width: 60%;
  }
}
.socials__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .socials__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 1.75rem 0;
    justify-content: space-around;
    padding: 0;
  }
}
.socials__group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  width: 30%;
  justify-content: space-between;
}
@media screen and (min-width: 48rem) {
  .socials__group {
    margin-bottom: 0;
    margin-top: 3.8rem;
    margin-left: 2.25rem;
    padding: 0;
    width: 30%;
  }
}
@media screen and (min-width: 48rem) {
  .socials__icon {
    width: 110%;
  }
}

@media screen and (min-width: 48rem) {
  .contact {
    order: 3;
    flex-basis: 100%;
  }
}
.contact__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .contact__container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
}
.contact__text--top {
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .contact__text--top {
    margin-top: 1.4rem;
  }
}
.contact__name, .contact__company, .contact__text, .contact__email {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Reg", sans-serif;
}
@media screen and (min-width: 48rem) {
  .contact__name, .contact__company, .contact__text, .contact__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .contact__name, .contact__company {
    font-family: "Avenir Demi", sans-serif;
  }
}
.contact__email-link {
  text-decoration: none;
  color: #fff;
}

.footer__branding {
  margin-top: 2rem;
  display: flex;
}
@media screen and (min-width: 48rem) {
  .footer__branding {
    order: 2;
    margin: auto;
  }
}
.footer__branding-logo {
  height: 1.25rem;
  width: 7.5rem;
}

@media screen and (min-width: 48rem) {
  .copyright {
    order: 4;
  }
}
.copyright__text {
  margin: 1rem 0;
  padding-bottom: 1rem;
  font-size: 0.625rem;
  letter-spacing: 0.025rem;
  line-height: 1.125rem;
  font-family: "Avenir Reg";
}
@media screen and (min-width: 48rem) {
  .copyright__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 3rem;
  }
}/*# sourceMappingURL=bio.css.map */