*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  color: #323232;
  font-family: "Avenir Reg", sans-serif;
  background-color: #fff;
}

html {
  width: 100%;
}

body {
  margin: 0 auto;
}

@font-face {
  font-family: "Avenir Reg";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Regular.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Demi.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Bold.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
.header {
  background-color: #323232;
  width: 100%;
  z-index: 1;
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4.5rem;
  padding-top: 1rem;
  max-width: 80rem;
}
@media screen and (min-width: 48rem) {
  .header__container {
    height: 4.5rem;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }
}
@media screen and (min-width: 80rem) {
  .header__container {
    height: 5rem;
  }
}
.header__branding {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .header__branding {
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__branding {
    margin-left: 7.75rem;
  }
}
.header__branding-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__branding-logo {
  height: 1.25rem;
  width: 7.5rem;
}

.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  margin-left: -3.75rem;
  margin-top: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    margin-left: 0;
    width: 15.625rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__list {
    width: 12.5rem;
  }
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
  font-family: "Avenir Reg";
  font-size: 0.875rem;
}
@media screen and (min-width: 48rem) {
  .nav__link {
    border-bottom: 3px solid transparent;
  }
}
@media screen and (min-width: 48rem) {
  .nav__link:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 1.7rem;
    color: #fff;
  }
}
@media screen and (min-width: 80rem) {
  .nav__link:hover {
    padding-bottom: 2rem;
  }
}
.nav__link:hover:after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 4.5rem;
  right: 0;
}
@media screen and (min-width: 48rem) {
  .nav__link:hover:after {
    width: 0;
  }
}
.nav__link:hover--shows:after {
  left: 0;
}
.nav__link--active {
  font-family: "Avenir Demi";
  text-decoration: none;
}
@media screen and (min-width: 48rem) {
  .nav__link--active {
    border-bottom: 3px solid #fff;
    padding-bottom: 1.7rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__link--active {
    padding-bottom: 2rem;
  }
}
.nav__link--active:after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 4.5rem;
  right: 50%;
}
@media screen and (min-width: 48rem) {
  .nav__link--active:after {
    width: 0;
  }
}
.nav__link--shows:after {
  left: 50%;
}

.hero-bio {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(50, 50, 50, 0.5019607843);
  height: 11.6rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .hero-bio {
    height: 28.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero-bio {
    height: 39rem;
  }
}
.hero-bio__container {
  max-width: 80rem;
}
.hero-bio__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  color: #fff;
  margin: 0;
  margin-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .hero-bio__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero-bio__title {
    margin-left: 7.75rem;
  }
}

.about {
  margin: 1rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .about {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .about {
    margin-left: 13.5rem;
    margin-right: 13.5rem;
  }
}
.about__container {
  max-width: 80rem;
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  margin: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 48rem) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 2.25rem -4rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__title {
    margin-left: -4.75rem;
  }
}
.about__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  height: 10rem;
}
@media screen and (min-width: 48rem) {
  .about__image {
    margin-bottom: 2.25rem;
    height: 19.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__image {
    height: 27.5rem;
  }
}
.about__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Demi", sans-serif;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .about__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-family: "Avenir Demi", sans-serif;
  }
}
.about__blockquote {
  margin: 0;
  padding: 0;
  font-family: "Avenir Demi", sans-serif;
  line-height: 1.5rem;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .about__blockquote {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__blockquote {
    margin-bottom: 1rem;
  }
}
.about__cite {
  font-family: "Avenir Demi", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__cite {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.about__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .about__text-container {
    flex-direction: row;
  }
}
.about__text {
  font-family: "Avenir Reg", sans-serif;
  line-height: 1.125rem;
  font-size: 0.8125rem;
  letter-spacing: 0.8;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .about__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.about__text:last-child {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__text:last-child {
    margin-left: 2.25rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 0 1rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .gallery {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery {
    padding: 0 7.75rem;
  }
}
.gallery__container {
  max-width: 80rem;
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  padding-top: 1.5rem;
  margin-top: 0;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
  }
}
.gallery__image-group {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 45rem) {
  .gallery__image-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
  }
}
.gallery__image {
  margin-bottom: 1rem;
  flex-grow: 1;
  filter: grayscale(100%);
}
@media screen and (min-width: 45rem) {
  .gallery__image {
    width: 40%;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 48rem) {
  .gallery__image {
    width: 29.5%;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
  }
  .gallery__image:nth-child(3), .gallery__image:nth-child(6), .gallery__image:nth-child(9) {
    margin-right: 0;
  }
}
.gallery__image:hover {
  filter: grayscale(0);
  transition: 0.7s ease-out;
}

.footer {
  color: #fff;
  background-color: #323232;
  padding-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    height: 400px;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding-left: 7.75rem;
    padding-right: 7.75rem;
  }
}
.footer__container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .footer__container {
    flex-direction: row;
  }
}

@media screen and (min-width: 48rem) {
  .socials {
    width: 35rem;
  }
}
.socials__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .socials__container {
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 23.5rem;
  }
}
.socials__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .socials__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 1.75rem 0;
    justify-content: space-around;
    padding: 0;
  }
}
.socials__group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  width: 7.5rem;
  justify-content: space-between;
}
@media screen and (min-width: 48rem) {
  .socials__group {
    margin-bottom: 0;
    margin-top: 3.8rem;
    margin-left: 2.25rem;
    padding: 0;
  }
}
@media screen and (min-width: 48rem) {
  .socials__icon {
    width: 110%;
  }
}

@media screen and (min-width: 48rem) {
  .contact {
    order: 3;
    flex-basis: 100%;
  }
}
.contact__container {
  display: flex;
  flex-direction: column;
  width: 680px;
}
@media screen and (min-width: 48rem) {
  .contact__container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
}
@media screen and (min-width: 80rem) {
  .contact__container {
    width: 725px;
  }
}
.contact__name, .contact__company, .contact__text, .contact__email {
  margin: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Reg", sans-serif;
}
@media screen and (min-width: 48rem) {
  .contact__name, .contact__company, .contact__text, .contact__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .contact__name, .contact__company {
    font-family: "Avenir Demi", sans-serif;
  }
}
.contact__email-link {
  text-decoration: none;
  color: #fff;
}
.contact__text--top {
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .contact__text--top {
    margin-top: 1.5rem;
  }
}

.footer__branding {
  margin-top: 2rem;
  display: flex;
}
@media screen and (min-width: 48rem) {
  .footer__branding {
    order: 2;
    margin: auto;
  }
}
@media screen and (min-width: 80rem) {
  .footer__branding {
    margin-right: 0;
  }
}
.footer__branding-logo {
  height: 1.25rem;
  width: 7.5rem;
}

@media screen and (min-width: 48rem) {
  .copyright {
    order: 4;
  }
}
.copyright__text {
  margin: 1rem 0;
  padding-bottom: 1rem;
  font-size: 0.625rem;
  letter-spacing: 0.025rem;
  line-height: 1.125rem;
  font-family: "Avenir Reg";
}
@media screen and (min-width: 48rem) {
  .copyright__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 2.75rem 0;
  }
}

.comments {
  padding: 1rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .comments {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments {
    padding: 0 7.75rem;
  }
}
.comments__container {
  max-width: 80rem;
}
.comments__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  padding-top: 1.5rem;
  margin-top: 0;
}
@media screen and (min-width: 48rem) {
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
  }
}
.comments__list {
  margin-top: 2rem;
  width: 65%;
}
@media screen and (min-width: 48rem) {
  .comments__list {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments {
    margin-left: auto;
    margin-right: auto;
  }
}

.comment__label {
  color: #afafaf;
  font-family: "Avenir Demi";
  margin-bottom: 0.5rem;
}
.comment__form {
  width: 94%;
}
@media screen and (min-width: 48rem) {
  .comment__form {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media screen and (min-width: 80rem) {
  .comment__form {
    margin-left: auto;
    margin-right: auto;
  }
}
.comment__input {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  width: 100%;
  height: 2.5rem;
  line-height: 2rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  background-color: #fafafa;
}
@media screen and (min-width: 48rem) {
  .comment__input {
    height: 3rem;
    font-size: 1rem;
    padding: 1rem;
  }
}
.comment__input:focus {
  outline: 1px solid #323232;
}
.comment__input:invalid:required {
  border: 1px solid #e1e1e1;
}
.comment__input:invalid {
  border: 1px solid red;
}
.comment__input:valid {
  border: 1px solid #e1e1e1;
}
.comment__textarea {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  width: 100%;
  line-height: 2rem;
  padding-left: 0.625rem;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 80rem) {
  .comment__textarea {
    height: 6rem;
    font-size: 1rem;
  }
}
.comment__textarea:focus {
  outline: 1px solid #323232;
}
.comment__textarea:invalid:required {
  border: 1px solid #e1e1e1;
}
.comment__textarea:invalid {
  border: 1px solid red;
}
.comment__textarea:valid {
  border: 1px solid #e1e1e1;
}
.comment__container {
  width: 90%;
  max-width: 80rem;
}
.comment__group {
  display: flex;
}
.comment__photo-container {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  margin-top: 0.75rem;
  margin-right: 1.25rem;
}
.comment__photo {
  border-radius: 50%;
  margin-top: 0.75rem;
  margin-right: 1.25rem;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .comment__photo {
    width: 3rem;
    height: 3rem;
  }
}
.comment__name-date-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 48rem) {
  .comment__name-date-container {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 80rem) {
  .comment__name-date-container {
    width: 28.75rem;
  }
}
.comment__name {
  font-family: "Avenir Demi";
}
@media screen and (min-width: 48rem) {
  .comment__name {
    margin-right: 0.625rem;
  }
}
.comment__date {
  color: #e1e1e1;
}
.comment__card {
  width: 94%;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .comment__card {
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .comment__card {
    width: 100%;
  }
}
.comment__card:first-child {
  border-top: 1px solid #e1e1e1;
}
.comment__button {
  display: block;
  height: 2.5rem;
  width: 100%;
  background-color: #323232;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
@media screen and (min-width: 48rem) {
  .comment__button {
    width: 25%;
  }
}
@media screen and (min-width: 80rem) {
  .comment__button {
    height: 3rem;
    width: 25%;
  }
}
.comment__button:hover {
  background-color: #000;
  cursor: pointer;
  transition: 0.7s;
}
.comment__button-container {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .comment__button-container {
    display: flex;
    justify-content: flex-end;
  }
}/*# sourceMappingURL=bio.css.map */