*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  color: #323232;
  font-family: "Avenir Reg", sans-serif;
  background-color: #fff;
}

html {
  width: 100%;
}

body {
  margin: 0 auto;
}

@font-face {
  font-family: "Avenir Reg";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Regular.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Demi.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Bold.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
.header {
  background-color: #323232;
  width: 100%;
  z-index: 1;
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4.5rem;
  padding-top: 1rem;
  max-width: 80rem;
}
@media screen and (min-width: 48rem) {
  .header__container {
    height: 4.5rem;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }
}
@media screen and (min-width: 80rem) {
  .header__container {
    height: 5rem;
  }
}
.header__branding {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .header__branding {
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__branding {
    margin-left: 7.75rem;
  }
}
.header__branding-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__branding-logo {
  height: 1.25rem;
  width: 7.5rem;
}

.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  margin-left: -3.75rem;
  margin-top: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    margin-left: 0;
    width: 15.625rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__list {
    width: 12.5rem;
  }
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
  font-family: "Avenir Reg";
  font-size: 0.875rem;
}
@media screen and (min-width: 48rem) {
  .nav__link {
    border-bottom: 3px solid transparent;
  }
}
@media screen and (min-width: 48rem) {
  .nav__link:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 1.7rem;
    color: #fff;
  }
}
@media screen and (min-width: 80rem) {
  .nav__link:hover {
    padding-bottom: 2rem;
  }
}
.nav__link:hover:after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 4.5rem;
  right: 0;
}
@media screen and (min-width: 48rem) {
  .nav__link:hover:after {
    width: 0;
  }
}
.nav__link:hover--shows:after {
  left: 0;
}
.nav__link--active {
  font-family: "Avenir Demi";
  text-decoration: none;
}
@media screen and (min-width: 48rem) {
  .nav__link--active {
    border-bottom: 3px solid #fff;
    padding-bottom: 1.7rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__link--active {
    padding-bottom: 2rem;
  }
}
.nav__link--active:after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 4.5rem;
  right: 50%;
}
@media screen and (min-width: 48rem) {
  .nav__link--active:after {
    width: 0;
  }
}
.nav__link--shows:after {
  left: 50%;
}

.hero-shows {
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(50, 50, 50, 0.5019607843);
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2.25rem 1rem;
}
@media screen and (min-width: 48rem) {
  .hero-shows {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero-shows {
    padding: 7.75rem 7.75rem 9rem 7.75rem;
  }
}
.hero-shows__container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 80rem) {
  .hero-shows__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 21.875rem;
  }
}

.copy__container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media screen and (min-width: 48rem) {
  .copy__container {
    width: 80%;
  }
}
@media screen and (min-width: 80rem) {
  .copy__container {
    width: 48%;
  }
}
.copy__byline {
  font-size: 0.8125rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 48rem) {
  .copy__byline {
    font-size: 1.5rem;
    line-height: 1.375rem;
    font-family: "Avenir Reg";
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .copy__byline {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    font-family: "Avenir Demi";
    letter-spacing: 1.1px;
  }
}
.copy__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .copy__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-bottom: 3rem;
  }
}
.iframe {
  height: 5.625rem;
}
@media screen and (min-width: 45rem) {
  .iframe {
    height: 7rem;
  }
}
@media screen and (min-width: 48rem) {
  .iframe {
    height: 8.7rem;
  }
}
.iframe__container {
  max-width: 30rem;
  width: 80%;
}
@media screen and (min-width: 48rem) {
  .iframe__container {
    width: 65%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .iframe__container {
    margin-top: 4rem;
    width: 41%;
  }
}

.footer {
  color: #fff;
  background-color: #323232;
  padding-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    height: 400px;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding-left: 7.75rem;
    padding-right: 7.75rem;
  }
}
.footer__container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .footer__container {
    flex-direction: row;
  }
}

@media screen and (min-width: 48rem) {
  .socials {
    width: 35rem;
  }
}
.socials__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .socials__container {
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 23.5rem;
  }
}
.socials__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .socials__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 1.75rem 0;
    justify-content: space-around;
    padding: 0;
  }
}
.socials__group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  width: 7.5rem;
  justify-content: space-between;
}
@media screen and (min-width: 48rem) {
  .socials__group {
    margin-bottom: 0;
    margin-top: 3.8rem;
    margin-left: 2.25rem;
    padding: 0;
  }
}
@media screen and (min-width: 48rem) {
  .socials__icon {
    width: 110%;
  }
}

@media screen and (min-width: 48rem) {
  .contact {
    order: 3;
    flex-basis: 100%;
  }
}
.contact__container {
  display: flex;
  flex-direction: column;
  width: 680px;
}
@media screen and (min-width: 48rem) {
  .contact__container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
}
@media screen and (min-width: 80rem) {
  .contact__container {
    width: 725px;
  }
}
.contact__name, .contact__company, .contact__text, .contact__email {
  margin: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir Reg", sans-serif;
}
@media screen and (min-width: 48rem) {
  .contact__name, .contact__company, .contact__text, .contact__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .contact__name, .contact__company {
    font-family: "Avenir Demi", sans-serif;
  }
}
.contact__email-link {
  text-decoration: none;
  color: #fff;
}
.contact__text--top {
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .contact__text--top {
    margin-top: 1.5rem;
  }
}

.footer__branding {
  margin-top: 2rem;
  display: flex;
}
@media screen and (min-width: 48rem) {
  .footer__branding {
    order: 2;
    margin: auto;
  }
}
@media screen and (min-width: 80rem) {
  .footer__branding {
    margin-right: 0;
  }
}
.footer__branding-logo {
  height: 1.25rem;
  width: 7.5rem;
}

@media screen and (min-width: 48rem) {
  .copyright {
    order: 4;
  }
}
.copyright__text {
  margin: 1rem 0;
  padding-bottom: 1rem;
  font-size: 0.625rem;
  letter-spacing: 0.025rem;
  line-height: 1.125rem;
  font-family: "Avenir Reg";
}
@media screen and (min-width: 48rem) {
  .copyright__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 2.75rem 0;
  }
}

.shows {
  padding-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
}
@media screen and (min-width: 48rem) {
  .shows {
    width: 100%;
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows {
    padding-left: 11.25rem;
    display: flex;
    width: auto;
  }
}
.shows__table {
  margin-top: 1.875rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .shows__table {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .shows__table {
    margin-left: 7.5rem;
    width: 65%;
  }
}
.shows__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
  padding-top: 1.5rem;
  margin-top: 0;
}
@media screen and (min-width: 48rem) {
  .shows__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
  }
}
.show__card {
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .show__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
  }
}
.show__heading {
  color: #afafaf;
  font-family: "Avenir Demi";
}
@media screen and (min-width: 48rem) {
  .show__heading {
    display: none;
  }
}
@media screen and (min-width: 48rem) {
  .show__date {
    width: 25%;
  }
}
@media screen and (min-width: 48rem) {
  .show__venue {
    width: 25%;
  }
}
@media screen and (min-width: 48rem) {
  .show__location {
    width: 25%;
  }
}
.show__button {
  height: 3.125rem;
  background-color: #000;
  color: #fff;
  font-family: "Avenir Demi";
  font-size: 0.9rem;
  margin-bottom: 0.625rem;
  border-radius: 5px;
  width: 100%;
  border: none;
}
@media screen and (min-width: 48rem) {
  .show__button {
    width: 25%;
  }
}
.show__button:hover {
  background-color: #000;
  cursor: pointer;
  transition: 0.7s;
}

.tablet__header {
  display: none;
}
@media screen and (min-width: 48rem) {
  .tablet__header {
    display: flex;
    color: #afafaf;
    font-family: "Avenir Demi";
    width: 80%;
  }
}
@media screen and (min-width: 48rem) {
  .tablet__date, .tablet__venue, .tablet__location {
    width: 31%;
  }
}/*# sourceMappingURL=shows.css.map */