*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  color: #323232;
  font-family: "Avenir", sans-serif;
  background-color: #fff;
}

body {
  margin: 0 auto;
}

table,
th,
td {
  border: 0;
  border-collapse: collapse;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Regular.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Demi.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-otf/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/fonts/Avenir-ttf/AvenirNextLTPro-Bold.ttf") format("ttf"), url("../assets/fonts/Avenir-woff/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/Avenir-woff2/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
.header {
  background-color: #323232;
  width: 100%;
  z-index: 1;
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4.5rem;
  padding-top: 1rem;
  max-width: 80rem;
}
@media screen and (min-width: 48rem) {
  .header__container {
    height: 4.5rem;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }
}
@media screen and (min-width: 80rem) {
  .header__container {
    height: 5rem;
  }
}
.header__branding {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .header__branding {
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__branding {
    margin-left: 7.75rem;
  }
}
.header__branding-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__branding-link--active {
  color: #fff;
}
.header__branding-logo {
  height: 1.25rem;
  width: 7.5rem;
}

.nav {
  width: 100%;
  margin: 0;
  padding: 0;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  padding: 0;
}
@media screen and (min-width: 48rem) {
  .nav__list {
    margin-left: 0;
    width: 15.625rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__list {
    width: 12.5rem;
  }
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
  font-weight: 300;
  font-size: 0.875rem;
}
@media screen and (min-width: 48rem) {
  .nav__link {
    border-bottom: 3px solid transparent;
  }
}
@media screen and (min-width: 48rem) {
  .nav__link:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 1.7rem;
    color: #fff;
  }
}
@media screen and (min-width: 80rem) {
  .nav__link:hover {
    padding-bottom: 2rem;
  }
}
.nav__link:hover:after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 4.3rem;
  right: 0;
}
@media screen and (min-width: 48rem) {
  .nav__link:hover:after {
    width: 0;
  }
}
.nav__link:hover--shows:after {
  left: 0;
}
.nav__link--active {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 48rem) {
  .nav__link--active {
    border-bottom: 3px solid #fff;
    padding-bottom: 1.7rem;
  }
}
@media screen and (min-width: 80rem) {
  .nav__link--active {
    padding-bottom: 2rem;
  }
}
.nav__link--active:after {
  width: 100%;
  content: "";
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 4.3rem;
  right: 50%;
}
@media screen and (min-width: 48rem) {
  .nav__link--active:after {
    width: 0;
  }
}
.nav__link--shows:after {
  width: 50%;
  content: "";
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 4.3rem;
  left: 50%;
}
@media screen and (min-width: 48rem) {
  .nav__link--shows:after {
    width: 0%;
  }
}

.hero-shows {
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: 50% 30%;
  box-shadow: inset 0 0 0 100vmax rgba(50, 50, 50, 0.5019607843);
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2.25rem 1rem;
}
@media screen and (min-width: 48rem) {
  .hero-shows {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero-shows {
    padding: 7.75rem 7.75rem 9rem 7.75rem;
    height: 60vw;
    max-height: 80vh;
    justify-content: center;
  }
}
.hero-shows__container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 80rem) {
  .hero-shows__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.copy__container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media screen and (min-width: 80rem) {
  .copy__container {
    width: 48%;
    justify-content: center;
  }
}
.copy__byline {
  font-size: 0.8125rem;
  line-height: 2rem;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}
@media screen and (min-width: 48rem) {
  .copy__byline {
    font-size: 1.5rem;
    line-height: 1.375rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .copy__byline {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.1px;
  }
}
.copy__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .copy__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .copy__title {
    margin-bottom: 2rem;
  }
}

.iframe {
  height: 7rem;
}
@media screen and (min-width: 45rem) {
  .iframe {
    height: 7rem;
    max-width: 25rem;
  }
}
@media screen and (min-width: 48rem) {
  .iframe {
    height: 8.7rem;
  }
}
.iframe__container {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .iframe__container {
    width: 60%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .iframe__container {
    margin-top: 4rem;
    width: 41%;
  }
}

.footer {
  position: relative;
  color: #fff;
  background-color: #323232;
  padding-left: 1rem;
  border-top: 1px solid #e1e1e1;
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    height: 26rem;
    margin-top: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding-left: 7.75rem;
    padding-right: 7.75rem;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .footer__container {
    flex-direction: row;
  }
}

@media screen and (min-width: 48rem) {
  .socials {
    width: 35rem;
  }
}
.socials__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .socials__container {
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 23.5rem;
  }
}
.socials__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .socials__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 1.75rem 0;
    justify-content: space-around;
    padding: 0;
  }
}
.socials__group {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  width: 7.5rem;
  justify-content: space-between;
}
@media screen and (min-width: 48rem) {
  .socials__group {
    margin-bottom: 0;
    margin-top: 3.8rem;
    margin-left: 2.25rem;
    padding: 0;
  }
}
@media screen and (min-width: 48rem) {
  .socials__icon {
    width: 110%;
  }
}

@media screen and (min-width: 48rem) {
  .contact {
    order: 3;
    flex-basis: 100%;
  }
}
.contact__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .contact__container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
}
@media screen and (min-width: 80rem) {
  .contact__container {
    justify-content: flex-start;
  }
}
.contact__details {
  margin-bottom: 1rem;
}
@media screen and (min-width: 80rem) {
  .contact__details {
    padding-right: 5rem;
  }
}
.contact__name, .contact__company, .contact__text, .contact__email {
  margin: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 300;
}
@media screen and (min-width: 48rem) {
  .contact__name, .contact__company, .contact__text, .contact__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.contact__name, .contact__company {
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .contact__name, .contact__company {
    font-weight: 600;
  }
}
.contact__email-link {
  text-decoration: none;
  color: #fff;
}
.contact__text--top {
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .contact__text--top {
    margin-top: 1.5rem;
  }
}

.footer__branding {
  margin-top: 2rem;
  display: flex;
}
@media screen and (min-width: 48rem) {
  .footer__branding {
    order: 2;
    position: absolute;
    top: 0;
    right: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__branding {
    right: 7.75rem;
  }
}
.footer__branding-logo {
  height: 1.25rem;
  width: 7.5rem;
}

@media screen and (min-width: 48rem) {
  .copyright {
    order: 4;
  }
}
.copyright__text {
  margin: 1rem 0;
  font-size: 0.625rem;
  letter-spacing: 0.025rem;
  line-height: 1.125rem;
  font-weight: 300;
}
@media screen and (min-width: 48rem) {
  .copyright__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 2.25rem 0 0.5rem 0;
  }
}

.shows {
  padding: 1rem 0;
}
@media screen and (min-width: 48rem) {
  .shows {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows {
    padding: 3rem 7.75rem 2rem 7.75rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 80rem) {
  .shows__container {
    display: flex;
    justify-content: flex-end;
    width: 75%;
  }
}
.shows__table {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .shows__table {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.shows__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 1.5rem 1rem 0 1rem;
}
@media screen and (min-width: 48rem) {
  .shows__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .shows__title {
    margin-top: 0;
  }
}

.show__card {
  border-bottom: 1px solid #e1e1e1;
  padding: 0 1rem;
}
@media screen and (min-width: 48rem) {
  .show__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    flex-grow: 1;
  }
}
.show__card:hover {
  background-color: #fafafa;
}
.show__card--nohover {
  pointer-events: none;
}
.show__card--hover {
  pointer-events: all;
}
.show__card--active {
  background-color: #e1e1e1;
}
.show__heading {
  color: #afafaf;
  font-weight: 600;
  font-size: 0.625rem;
  margin-top: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .show__heading {
    display: none;
  }
}
.show__date, .show__venue, .show__location {
  color: #323232;
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .show__date, .show__venue, .show__location {
    font-size: 0.875rem;
    width: 33.3333333%;
  }
}
.show__date {
  font-weight: 600;
}
.show__venue, .show__location {
  font-weight: 300;
}
.show__location {
  margin-bottom: 1.25rem;
}
.show__button {
  height: 2.6rem;
  background-color: #323232;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 4px;
  min-width: 9.4rem;
  width: 100%;
  border: 0;
  font-weight: 300;
}
@media screen and (min-width: 48rem) {
  .show__button {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 0.82rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.show__button--placeholder {
  visibility: hidden;
}
.show__button:hover {
  background-color: #000;
  cursor: pointer;
  transition: 0.7s;
}

.tablet__header {
  display: none;
}
@media screen and (min-width: 48rem) {
  .tablet__header {
    display: flex;
    justify-content: space-between;
    color: #afafaf;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .tablet__date, .tablet__venue, .tablet__location {
    font-size: 0.75rem;
    font-weight: 300;
    width: 33.3333333%;
  }
}
.tablet__date {
  padding-left: 1rem;
}/*# sourceMappingURL=shows.css.map */